<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/fontColor.css">
    <script src="angular.min.js"></script>
    <script src="app.min.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-class="formState" ng-model="menu">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="check();">Check If Too Much</button>
         </div>
         <div class="form-group message"  ng-class="state">
           {{message}}
         </div>
         <p class="Error">
           HINT: DO NOT consider empty item, i.e., , , as an item
         </p>
   </div>

</body>
</html>
